<section id="download-app">
    <div class="container">
        <div class="download-image">
            <img src="~/images/other/screens.svg" alt="" />
        </div>

        <div class="content">
            <h1>Download Our App for Any Devices:</h1>
            <div class="download-app-group">
                <div class="download-app-left">
                    <p class="store">App Store</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <img src="~/images/other/appstore.svg" />
            </div>
            <div class="download-app-group">
                <div class="download-app-left">
                    <p class="store">Google Play</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <img src="~/images/other/googleplay.svg" />
            </div>
        </div>
    </div>
</section>
