
<section id="integrate-tools">
    <div class="container">
        <div class="title">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="tools">
            <div class="tool">
                <img src="~/images/icons/Google.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/Zoom.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/Slack.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/gmail.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/Trello.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/MailChimp.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/Dropbox.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/Evernote.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
        </div>
    </div>
</section>
