
<section id="lightdark">
    <div class="dark-bg"></div>
    <div class="container">
        <div class="title">
            <h1 class="light">Switch Between</h1>
            <h1 class="dark">Light & Dark Mode</h>
        </div>
        <div class="img-container">
            <img src="~/images/other/mockup.svg" alt="Light Dark Image" />
        </div>       
    </div>
</section>
