@model SubscribeViewModel


<section id="subscribe" class="subscribe">
    <div class="container">
        <div class="title">
            <h2>Don't Want to Miss Anything</h2>
            <img src="/images/icons/arrows.svg" alt="swirl-arrow" />
        </div>
        <form method="post" asp-action="Subscribe" asp-controller="Default">
            <div class="alternative">
            <h4>Sign up For Newsletters</h4>
                <div class="options checkbox-group">
               @*  <div class="checkbox-group"> *@
                    <div class="input-group">
                        <input asp-for="DailyNewsletter"/>
                        <label asp-for="DailyNewsletter"></label>
                    </div>
                    <div class="input-group">
                        <input asp-for="AdvertisingUpdates" />
                        <label asp-for="AdvertisingUpdates"></label>
                    </div>
                    <div class="input-group">
                        <input asp-for="WeekinReview" />
                        <label asp-for="WeekinReview"></label>
                    </div>
                    <div class="input-group">
                        <input asp-for="EventUpdates" />
                        <label asp-for="EventUpdates"></label>
                    </div>
                    <div class="input-group">
                        <input asp-for="StartupsWeekly" />
                        <label asp-for="StartupsWeekly"></label>
                    </div>
                    <div class="input-group">
                        <input asp-for="Podcasts" />
                        <label asp-for="Podcasts"></label>
                    </div>
                @* </div> *@
            </div>
            </div>
            <div class="form-mail">
                <div class="input-group">
                    <i class="fa-regular fa-envelope"></i>
                    <input asp-for="Email"/>
                    <span class="status-message" asp-validation-for="Email"></span>
                </div>
                <button type="submit" class="btn btn-theme">Subscribe</button>
            </div>
           
            @if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString())) {
                <span class="status-message">@TempData["StatusMessage"]</span>
            }
            else {
                <span class="status-message"> * Yes, I agree to the terms and privacy policy</span>
            }
            
        </form>
    </div>
</section>
                